@{
    ViewData["Title"] = "Gizlilik Koşulları";
}
<h1>@ViewData["Title"]</h1>

<p>Mağazamızda verilen tüm servisler ve ,pieticaretsitesi.com adresinde kayıtlı  Pİ E-TİCARET.Şti. firmamıza aittir ve firmamız tarafından işletilir.  </p>
