@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions

@{ 
    var dil = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var dilListesi = locOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = x.Name }).ToList();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path)? "~/": $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<div>
    <form asp-action="DilYonetimi" asp-controller="Home" method="post"
          asp-route-returnUrl="@returnUrl">
        <select name="dil" asp-for="@dil.RequestCulture.UICulture.Name" asp-items="dilListesi"
                onchange="this.form.submit();"></select>
    </form>
</div>
