@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Erişim İhlali";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bu sayfaya giriş yetkiniz yoktur.Lütfen yetkili bir kullanıcı hesabıyla giriş yapınız</p>
</header>
