<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">İşlem Başarılı!</h4>
    <strong>@ViewBag.fiyat TL</strong> tutarındaki satın alma işleminiz başarı gerçekleşti. Bizi tercih ettiğiniz için teşekkür ederiz.

    <p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Geri Dön</a>
    </p>
    <hr>

</div>