<link href="~/css/Kategori.css" rel="stylesheet" />

<div class="sidebar">
    <a asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action
           @(ViewBag.KategoriId==null?"active":"")">
        Tüm Kategoriler
    </a>

    @foreach (var kategori in Model)
    {
        if (kategori.ad == "Matematik")
        {
            break;
        }
        <a asp-action="Index" asp-controller="Home" asp-route-kategoriId="@kategori.id" class="list-group-item list-group-item-action
           @(ViewBag.KategoriId?.ToString()==kategori.id.ToString()?"active":"")">
            @kategori.ad
        </a>

    }


</div>
